<header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class = "navbar-nav">
            <li class="nav-item">
                <a *ngIf="loginService.isUserLoggedIn()" routerLink="administradores" routerLinkActive="active" class="nav-link">Administradores</a>
            </li>
            <li>
                <a *ngIf="loginService.isUserLoggedIn()" routerLink="puntoventas" routerLinkActive="active" class="nav-link">Puntos de Venta</a>
            </li>
            <li>
                <a *ngIf="loginService.isUserLoggedIn()" routerLink="productos" routerLinkActive="active" class="nav-link">Productos</a>
            </li>
            <li>
                <a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" class="nav-link">Salir</a>
            </li>
        </ul>
    </nav>
</header>