<div class="row" style="height: 660px;">
<div class="container-form">
    <form class="bg-light" (ngSubmit) = "onSubmit()" method="POST" enctype="multipart/form-data" [formGroup]="productoForm">
        <p class="text-center h4">Modificar Producto</p>
        <div class="container-inputs">
            <div class="form-group">
                <h4>Nombre:</h4>
                <input type="text" class="form-control mb-4" id="NombreProducto" formControlName="NombreProducto"
                    [(ngModel)]="producto.nombreProducto" name="NombreProducto" placeholder="Nombre del Producto">
                <div *ngIf="!NombreProducto.valid && (NombreProducto.touched || productoSubmit)" class="error-block">
                    <label>Falta ingresar el nombre del producto</label>
                </div>
            </div>
            <div class="form-group">
                <h4>Foto del Producto:</h4>
                <input type="file" id="file" name="FotoProducto mb-4" class="form-control"
                 formControlName="FotoProducto" (change)="onFileChanged($event)">
                <div *ngIf="!FotoProducto.valid && (FotoProducto.touched || productoSubmit)" class="error-block">
                    <label>No se ha subido ninguna imagen</label> 
                </div>
            </div>
                <div class="text-center form-group">
                    <button class="btn btn-success pull-left" style="margin-left: 10px" type="submit">Guardar</button>
                    <button class="btn btn-danger pull-right" style="margin-left: 10px;" type="reset" (click)="goToProductoList()">Cancelar</button>
                </div>
            </div>
        </form>   
    </div>
</div>