<div class="container" *ngIf="checkSession()">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3> Iniciar Sesi&oacute;n </h3>
			</div>
			
			<div class="card-body">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" [(ngModel)]="usuario" placeholder="usuario">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input  [type]="fieldTextType ? 'text' : 'password'" class="form-control" [(ngModel)]="contrasenia" placeholder="contraseña">
						<div class="input-group-append">
							<span class="input-group-text">
							  <i
								class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
							</span>
						  </div>
					</div>
					<div class="form-group">
						<input type="submit" value="Cancelar" class="btn float-left btn-danger">
						<button (click)=checkLogin() class="btn btn-success float-right login_btn">Ingresar</button>
						
					</div>
			</div>
		</div>
	</div>
</div>