<h2> Lista Puntos de Venta </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Nombre Punto de Venta </th>
            <th> Dirección Punto de Venta </th>
            <th> Ciudad Punto de Venta </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let puntoventa of puntoventas" >
            <td> {{puntoventa.nombrePventa}} </td>
            <td> {{puntoventa.direccionPventa}} </td>
            <td> {{puntoventa.ciudadPventa}} </td>
            <td>
                <button (click) = "updatePuntoventa(puntoventa.idPventa)" class = "btn btn-info"> Actualizar </button>
                <button (click) = "deletePuntoventa(puntoventa.idPventa)" class = "btn btn-danger" style="margin-left: 10px"> Eliminar </button> 
            </td> 
        </tr>
    </tbody>
</table>
