<h2 class="text-center">Puntos de Venta </h2>
<div class="container button">
    <button (click)="createPuntoventa()" class="btn btn-primary">Crear Nuevo</button>
</div>
<div class="row" style="height: 450px;">
<div class="container table">
    <mat-paginator style="height: 60px;" [length]="puntoventas.length" [pageSize]="page_size" 
            [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
        </mat-paginator>
    <table class = "table table-striped table-hover">
        <thead class="thead-blue">
            <tr>
                <th class="font-weight-normal"> Nombre </th>
                <th class="font-weight-normal"> Dirección </th>
                <th class="font-weight-normal"> Ciudad  </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let puntoventa of puntoventas" >
                <td id="texto"> {{puntoventa.nombrePventa}} </td>
                <td id="texto"> {{puntoventa.direccionPventa}} </td>
                <td id="texto"> {{puntoventa.ciudadPventa}} </td>
                <td>
                    <div class="container button">
                        <button (click) = "updatePuntoventa(puntoventa.idPventa)" class = "btn btn-info"> <mat-icon>edit</mat-icon> </button>
                        <button (click) = "deletePuntoventa(puntoventa.idPventa)" class = "btn btn-danger" style="margin-left: 10px"> <mat-icon>delete</mat-icon> </button> 
                    </div>                    
                </td> 
            </tr>
        </tbody>
    </table>
</div>
</div>

