@import url('https://fonts.googleapis.com/css?family=Numans');
.row{
    padding-left: 20px;
    padding-right: 30px;
}
.container-inputs{
    border:none;
    padding: 10%;
}
.container-button{
    border: none;
    margin-bottom: 1px;
}
.container-form{
    padding-left: 30%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
label{
    text-align: left;
}
h4{
    text-align: justify;
}
.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}