<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class="nav-item">
            <a routerLink="administradores" routerLinkActive="active" class="nav-link">Administradores</a>
        </li>
        <li>
            <a routerLink="puntoventas" routerLinkActive="active" class="nav-link">Puntos de Venta</a>
        </li>
        <li>
            <a routerLink="productos" routerLinkActive="active" class="nav-link">Productos</a>
        </li>
    </ul>
</nav>

<div class="container">
    <hr>
    <router-outlet></router-outlet>
</div>


<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2021 @TeamAR</span>
    </div>
</footer>
