<h2 class="text-center">Administradores</h2>
<div class="container button">
    <button (click)="createAdministrador()" class="btn btn-primary">Crear Nuevo</button>
</div>
<div class="row" style="height: 450px;">
    <div class="container table">
        <mat-paginator style="height: 60px;;" [length]="administradores.length" [pageSize]="page_size" 
            [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
        </mat-paginator>
    <table class = "table table-striped table-hover">
        <thead class="thead-blue">
            <tr>
                <th class="font-weight-normal">Nombre y Apellido</th>
                <th class="font-weight-normal">Usuario</th>
                <th class="font-weight-normal">Contraseña</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let administrador of administradores | paginate:page_size:page_number" >
                <td id="texto"> {{ administrador.nombreAdministrador}} </td>
                <td id="texto"> {{ administrador.usuario}} </td>
                <td id="texto"> {{ administrador.contrasenia}}</td>
                <td>  
                    <div class="container button">
                        <button (click)="updateAdministrador(administrador.idAdministrador)" class="btn btn-info" style="margin-left: 10px"><mat-icon>edit</mat-icon></button>
                        <button (click)="deleteAdministrador(administrador.idAdministrador)" class="btn btn-danger" style="margin-left: 10px"><mat-icon>delete</mat-icon></button>
                    </div>                              
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
