<div class="container-form">
    <form class="text-center border p-5 bg-light" (ngSubmit) = "onSubmit()" method="POST" enctype="multipart/form-data">
        <p class="h4 mb-4">Crear Producto</p>
        <div class="row" style="height: 410px;">
        <div class="container-inputs">
            <div class="form-group">
                <input type="text" class="form-control mb-4" id="NombreProducto" 
                    [(ngModel)]="producto.nombreProducto" name="NombreProducto" placeholder="Nombre del Producto">
            </div>
            <div class="form-group">
                <p class="text-justify font-weight-normal mb-4">Foto del Producto</p>
                <input type="file" id="file" name="FotoProducto" class="form-control" (change)="onFileChanged($event)">
            </div>
        </div>
        <div class="container-button">
            <button class="btn btn-success pull-left" style="margin-left: 10px" type="submit">Guardar</button>
            <button class="btn btn-danger pull-right" style="margin-left: 10px;" type="reset" (click)="goToProductoList()">Cancelar</button>
        </div>
    </div>
    </form>
</div>

