.row{
    padding-left: 20px;
    padding-right: 30px;
}
.container-inputs{
    border:none;
    padding: 10%;
}
.container-button{
    border: none;
    margin-bottom: 1px;
}
.container-form{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 10%;
}
#file{
    font-size: 1em;
}
span{
    text-align: justify;
}