<div class="row" style="height: 740;">
    <div class="container-form">
        <form class=" bg-light" (ngSubmit) = "onSubmit()" [formGroup] = "puntoVentaForm">
            <p class="text-center h4"> Modificar Punto de Venta </p>
            <div class="container-inputs">
                <div class="form-group">
                    <h4>Nombre</h4>
                    <input type="text" class="form-control mb-4" id = "NombrePventa" formControlName="NombrePventa"
                        [(ngModel)] = "puntoventa.nombrePventa" name = "NombrePventa" placeholder="Nombre del Punto de Venta">         
                    <div *ngIf="!NombrePventa.valid && (NombrePventa.touched || puntoVentaSubmit)" class="error-block">
                        <label>Falta ingresar el Nombre</label>
                    </div>                
                </div>    
                <div class="form-group">
                    <h4>Dirección</h4>
                    <input type="text" class="form-control mb-4" id = "DireccionPventa" formControlName="DireccionPventa"
                        [(ngModel)] = "puntoventa.direccionPventa" name = "DireccionPventa" placeholder="Dirección del Punto de Venta">         
                    <div *ngIf="!DireccionPventa.valid && (DireccionPventa.touched || puntoVentaSubmit)" class="error-block">
                        <label>Falta ingresar la Dirección</label>
                    </div>                
                </div>    
                <div class="form-group">
                    <h4>Ciudad</h4>
                    <input type="text" class="form-control mb-4" id = "CiudadPventa" formControlName="CiudadPventa"
                        [(ngModel)] = "puntoventa.ciudadPventa" name = "CiudadPventa" placeholder="Ciudad del Punto de Venta">         
                    <div *ngIf="!CiudadPventa.valid && (CiudadPventa.touched || puntoVentaSubmit)" class="error-block">
                        <label>Falta ingresar la Ciudad</label>
                    </div>                
                </div>
                <div class="text-center container-button">
                    <button class="btn btn-success pull-left" style="margin-left: 10px" type="submit">Guardar</button>
                    <button class="btn btn-danger pull-right" style="margin-left: 10px;" type="reset" (click)="goToPuntoventaList()">Cancelar</button>
                </div>  
            </div>
        </form>
    </div>
</div>
