@import url('https://fonts.googleapis.com/css?family=Numans');
.row{
    padding-left: 20px;
    padding-right: 30px;
}
.container-inputs{
    border:none;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.container-button{
    border: none;
    margin-bottom: 5%;
}
.container-form{
    padding-left: 30%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5px;
}
label{
    text-align: justify;
}
h4{
    text-align: justify;
}
p{
    padding-top: 5%;
}